<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Domino Example | Iris Prediction</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <form method=POST action="{{ url_for('index') }}">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        Iris Prediction
                </li>
              {% for field in fields %}
                <li>{{field | replace("_", " ") | title }}</li>
                <li><input type="text" name="{{ field }}"></li>
              {% endfor %}
		<li>&nbsp;</li>
                <li><input type="submit" value="make prediction"></li>
            </ul>
          </form>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    {% if result is defined %}
		        <div class="col-lg-6">
                         <div class="result">
			   <img src="/static/img/{{ result.result[0] }}.png" alt="" width=400 height=400 />
			   <h2><span>{{ result.result[0] | upper }}</span></h2>
		         </div>
		        </div>
                    {% endif %}
		        <div class="col-lg-6">
		        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Input Form</a>
                        <h1>Domino Example</h1>
                        <p>When you fill in the fields to left and click <b>make prediction</b>,
                           your values are sent to the web server which attaches the Domino API
                           key to the request and forwards it on. The Domino server then responds
			   with a JSON object which contains the predicted result. The webserver
			   then accepts that, parses it and returns the result.
                        </p>
			<h2>Sample Inputs</h2>
			<table style="border-spacing: 10px; border-collapse: separate">
			 <thead>
                          <tr>
                            <th>Sepal Length</th>
                            <th>Sepal Width</th>
			    <th>Petal Length</th>
                            <th>Petal Width</th>
                            <th>PREDICTION</th>
                          </tr>
                         </thead>
                         <tr>
                           <td align=right>5.1</td>
                           <td align=right>3.5</td>
                           <td align=right>1.4</td>
                           <td align=right>0.2</td>
                           <th>setosa</th>
                         </tr>
                         <tr bgcolor="#ccc">
                           <td align=right>7.0</td>
                           <td align=right>3.2</td>
                           <td align=right>4.7</td>
                           <td align=right>1.4</td>
			   <th>versicolor</th>
                         </tr>
                         <tr>
                           <td align=right>6.3</td>
                           <td align=right>3.3</td>
                           <td align=right>6.0</td>
                           <td align=right>2.5</td>
			   <th>virginica</th>
                         </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
